body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .5em;
    background: linear-gradient(to right, green, yellow);    
}

h1 {
    font: 3em;
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    width: 100%;
}

h3 {
    font-size: 1em;
    letter-spacing: 0em;
}