body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1{
  font-size: 2rem;
  color: #e3dbdb;
}

hr{
  border-color:red;
  border-width: 3px;
  max-width: 65px;
}



.btn{
  text-transform: uppercase;
  background-color: red;
  border-color: red;
}

.btn:hover{
  background-color: rgb(202, 10, 10);
  border-color: rgb(202, 10, 10);
}